%btn {
    border: none;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    font-size: 1.2rem;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    transition: all 0.8s;
}
