$color-white: #ffffff;
$color-black: #000;
$text-social: #39b54a;
$text-service: #757575;
$color-black-light: #111111;
$color-client: #E6E6E6;
$color-black-2: #151515;
$text-contact: #333;
$color-green: #33a242;